body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5DA7AE;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.gridContainer {
    display: grid;
    width: 600px;
    height: 600px;
    margin-bottom: 10px;
    border: 10px solid #543d46;
    border-radius: 5px;
}

.grid-item {
    background-color: white;
    user-select: none;
    border: 1px solid #ddd;
    text-align: center;
}

.btnSize,
.btnControl {
    border: 2px solid #543d46;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffebbc;
}

.btnSize:hover,
.btnControl:hover {
    transform: scale(1.1);
    filter: drop-shadow(-3px 3px 3px #316469);
}

.optionContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    background: none;
}

input[type='color']:hover {
    transform: scale(1.1);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    background-color: #ffebbc;
    border-radius: 15px;
    border: 2px solid #543d46;
    padding: 3px;
}